In [3]:
#FARDEEN
#B tech CSE 4A
#2K18CSUN01061
#LAB 04

In [1]:
tup=(23,46,"False",49.5,True,"apple","mango")
y=list(tup)
y[1]="orange"
tup=tuple(y)
print(tup)

(23, 'orange', 'False', 49.5, True, 'apple', 'mango')

In [2]:
tup=(23,46,"False",49.5,True,"apple","mango")
tup[1]="orange"
print(tup)

TypeError: 'tuple' object does not support item assignment

In [3]:
tup=(23,46,"False",49.5,True,"apple","mango")
for x in tup:
    print(tup)

(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')
(23, 46, 'False', 49.5, True, 'apple', 'mango')

In [4]:
tup=(23,46,"False",49.5,True,"apple","mango")
if "apple" in tup:
    print("element present")

element present

In [5]:
tup=(23,46,"False",49.5,True,"apple","mango")
print(len(tup))

7

In [6]:
tup1=(29,)
print(tup1)

(29,)

In [7]:
tup1=(29,)
print(tup1)
del tup1
print(tup1)

(29,)

NameError: name 'tup1' is not defined

In [8]:
x=(2,4,6)
y=(1,3,5)
z=x+y
print(z)

(2, 4, 6, 1, 3, 5)

In [9]:
x=(2,4,6,2,7,6,8)
print(x.count(2))

2

In [11]:
x=(2,4,6,2,7,6,8)
print(x.index(2))

0

LAB 04

QUES 1

In [12]:
tup1=(1,2,3,4,5,6,7,)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [13]:
tup1=(1,"mango",False,40.5,'g')
print(tup1)
print(type(tup1))

(1, 'mango', False, 40.5, 'g')
<class 'tuple'>

QUES 2

In [14]:
tup=(1,2,3,4,5)
print(tup[4])

5

QUES 3

In [16]:
tup=(1,2,3,4)
a=tup[0]
b=tup[1]
c=tup[2]
d=tup[3]
print(a,b,c,d)

1 2 3 4

QUES 4

In [19]:
x=(1,2,3)
y=(4,)
z=x+y
print(z)

(1, 2, 3, 4)

QUES 5

In [23]:
tup=("a","b","c")
print(type(tup))
str=" ".join(tup)
print(str)
print(type(str))

<class 'tuple'>
a b c
<class 'str'>

QUES 6

In [2]:
tup=(1,2,3,4,5,6,7,8)
print("The 4th element is ",tup[3])
print("The 4th element from last is ",tup[-4])

The 4th element is  4
The 4th element from last is  5

QUES 7

from copy import deepcopy
t1=('hello',5,[],True)
print(t1)
t2=deepcopy(t1)
t2[2].append(50)
print(t2)
print(t1)

from copy import deepcopy
from copy
copy.deepcopy()
copy.copy

In [32]:
import copy 
t1=('hello',5,[],True)
print(t1)
t2=copy.deepcopy(t1)
t2[2].append(50)
print(t2)
print(t1)

('hello', 5, [], True)
('hello', 5, [50], True)
('hello', 5, [], True)

In [33]:
import copy 
t1=('hello',5,[],True)
print(t1)
t2=copy.copy(t1)
t2[2].append(50)
print(t2)
print(t1)

('hello', 5, [], True)
('hello', 5, [50], True)
('hello', 5, [50], True)

In [34]:
from copy import deepcopy
t1=('hello',5,[7,5],True)
print(t1)
t2=deepcopy(t1)
t2[2][0]=2
print(t2)
print(t1)

('hello', 5, [7, 5], True)
('hello', 5, [2, 5], True)
('hello', 5, [7, 5], True)

QUES 8

In [3]:
tup=(1,2,3,4,4,4,4,4)
a=list(tup)
for i in range (len(a)-1):
    if a[i]==a[i+1]:
        print("The repeated item in tuple is ",a[i])

The repeated item in tuple is  4
The repeated item in tuple is  4
The repeated item in tuple is  4
The repeated item in tuple is  4

QUES 9

In [4]:
inp=input("Enter the item you want to check in the tuple :")
tup=('a','b','c','d')
a=list(tup)
if inp in tup:
    print(inp,"is in the tuple")

Enter the item you want to check in the tuple :d
d is in the tuple

QUES 10

In [5]:
list=['a','b','c','d']
tup=tuple(list)
print(tup)
print(type(tup))

('a', 'b', 'c', 'd')
<class 'tuple'>

QUES 11

In [8]:
tup=('a','b','c','d')
a=list(tup)
a.remove('b')
b=tuple(a)
print(b)

TypeError: 'list' object is not callable