In [ ]:
#FARDEEN
#B tech CSE 4A
#2K18CSUN01061

LAB 02

In [1]:
print("Hello")

Hello

In [2]:
2+3

5

In [3]:
int('2')+int('3')

5

In [4]:
year=2016
year

2016

In [5]:
year=2016
year=2017
year=2018
year

2018

Ques 1

In [6]:
a=int(input())
if(a%2==0):
    print("The entered number is even")
else:
    print("The entered number is odd")

9
The entered number is odd

QUES 2

In [15]:
year=int(input("Enter a year:"))
if(year%100==0):
    if(year%400==0):
        if(year%4==0):
            print("The entered year is a leap year")
        else:
            print("The entered year is not a leap year")
    else:
        print("The entered year is a leap year")
else:
    print("The entered year is a leap year")

Enter a year:2016
The entered year is a leap year

QUES 3

In [21]:
fa=str(input("Enter a Alphabet :"))
if fa=='a' or fa=='e' or fa=='i' or fa=='o' or fa=='u'  or fa=='A'  or fa=='E'  or fa=='I'  or fa=='O'  or fa=='U' :
    print("The Entered alphabet is a vowel")
else:
    print("The Entered alphabet is a consonant")

Enter a Alphabet :e
The Entered alphabet is a vowel

QUES 4

In [24]:
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
if a>b :
    print(a,"is greater than",b)
else:
    print(b,"is greater than",a)

Enter 1st number:23
Enter 2nd number:23
23 is greater than 23

QUES 5

In [7]:
num=int(input("ENter a number"))
factorial=1
if num==1:
    print("The Factorial of 1 is 1")
elif num==0:
    print("The Factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i;
print("The Factorial of the entered number is",factorial)

ENter a number5
The Factorial of the entered number is 120

QUES 6

In [3]:
print(" "," "," ","*"," "," "," ")
print(" "," ","*"," ","*"," "," ")
print(" ","*"," ","*"," ","*"," ")
print("*"," ","*"," ","*"," ","*")

      *
    *   *
  *   *   *
*   *   *   *

QUES 6

In [9]:
n=int(input("Enter the nth term:"))
a=0
b=1
sum=0
print("Fibonacci Series :")
while(sum<=n):
    print(sum," ")
    a=b
    b=sum
    sum=a+b

Enter the nth term:13
Fibonacci Series :
0
1
1
2
3
5
8
13

QUES 7

In [11]:
a=int(input("Enter a Number:"))
if a==1:
    print("1 cannot be defined as prime or not")
else:
    for x in range(2,a):
        if a%x==0:
            print("The entered number is not prime")
            break
        else:
            print("The entered number is prime")
            break

Enter a Number:13
The entered number is prime

QUES 8

In [12]:
a=int(input("Enter 1st Number:"))
b=int(input("Enter 2nd Number:"))
c=input("Enter the operation you want to perform")
if c=='+':
    sum=a+b
    print("Sum=",sum)
elif c=='-':
    diff=a-b
    print("Difference=",diff)
elif c=='*':
    mul=a*b
    print("Product=",mul)
elif c=='/':
    div=a/b
    print("Division=",div)
else:
    print("Invalid Operation")

Enter 1st Number:8
Enter 2nd Number:9
Enter the operation you want to perform*
Product= 72

In [1]:
5**2

25

In [2]:
10/3

3.3333333333333335

In [3]:
10//3

3